<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Đặt vé</title>
  <link rel="stylesheet" type="text/css" href="static/assets/css/style-starter.css">
  <link rel="stylesheet" href="https://npmcdn.com/flickity@2/dist/flickity.css">
  <link rel="stylesheet" type="text/css" href="static/assets/css/progress.css">

  <link rel="stylesheet" type="text/css" href="static/assets/css/ticket-booking.css">

  <!-- ..............For progress-bar............... -->
  <link rel="stylesheet" type="text/css" href="static/assets/css/e-ticket.css">

  <link rel="stylesheet" type="text/css" href="static/assets/css/payment.css" />
  <link href="https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700" rel="stylesheet">
</head>

<body>
  <header id="site-header" class="w3l-header fixed-top">

    <!--/nav-->
    <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
      <div class="container">
        <h1>
          <a class="navbar-brand" href="/">
            <span class="fa fa-play icon-log" aria-hidden="true"></span>
            Betaa 
          </a>
        </h1>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        </div>

        <div class="Login_SignUp" id="login_s">
          <!-- style="font-size: 2rem ; display: inline-block; position: relative;" -->
          <!-- <li class="nav-item"> -->
          <a class="nav-link" href="/signin"><i class="fa fa-user-circle-o"></i></a>
          <!-- </li> -->
        </div>
        <!-- toggle switch for light and dark theme -->
        <div class="mobile-position">
          <nav class="navigation">
            <div class="theme-switch-wrapper">
              <label class="theme-switch" for="checkbox">
                <input type="checkbox" id="checkbox">
                <div class="mode-container">
                  <i class="gg-sun"></i>
                  <i class="gg-moon"></i>
                </div>
              </label>
            </div>
          </nav>
        </div>
      </div>
    </nav>
  </header>

  <div class="container" id="progress-container-id">
    <div class="row">
      <div class="col">
        <div class="px-0 pt-4 pb-0 mt-3 mb-3">
          <form id="form">
            <ul id="progressbar" class="progressbar-class">
              <li class="active" id="step1">Chọn thời gian</li>
              <li id="step2" class="not_active">Chọn chỗ ngồi</li>
              <li id="step3" class="not_active">Thanh toán</li>
              <li id="step4" class="not_active">Vé điện tử</li>
            </ul>
            <br>
            <fieldset>
              <div id="screen-select-div">
                <h2>Chọn thời gian</h2>
                <div class="carousel carousel-nav" data-flickity='{"contain": true, "pageDots": false }'>
                  <div class="carousel-cell" id="1" onclick="myFunction(1)">
                    <div class="date-numeric">13</div>
                    <div class="date-day">Today</div>
                  </div>

                  <div class="carousel-cell" id="2" onclick="myFunction(2)">
                    <div class="date-numeric">14</div>
                    <div class="date-day">Tomorrow</div>
                  </div>
                  <div class="carousel-cell" id="3" onclick="myFunction(3)">
                    <div class="date-numeric">15</div>
                    <div class="date-day">Monday</div>
                  </div>
                  <div class="carousel-cell" id="4" onclick="myFunction(4)">
                    <div class="date-numeric">16</div>
                    <div class="date-day">Tuesday</div>
                  </div>
                  <div class="carousel-cell" id="5" onclick="myFunction(5)">
                    <div class="date-numeric">17</div>
                    <div class="date-day">Wednesday</div>
                  </div>
                  <div class="carousel-cell" id="6" onclick="myFunction(6)">
                    <div class="date-numeric">18</div>
                    <div class="date-day">Thursday</div>
                  </div>
                  <div class="carousel-cell" id="7" onclick="myFunction(7)">
                    <div class="date-numeric">19</div>
                    <div class="date-day">Friday</div>
                  </div>
                </div>
                <ul class="time-ul">
                  <li class="time-li">
                    <div class="screens">
                      Phòng chiếu 1
                    </div>
                    <div class="time-btn">
                      <button class="screen-time" onclick="timeFunction()">
                        1:05 PM
                      </button>
                      <button class="screen-time" onclick="timeFunction()">
                        4:00 PM
                      </button>
                      <button class="screen-time" onclick="timeFunction()">
                        9:00 PM
                      </button>
                    </div>
                  </li>
                  <li class="time-li">
                    <div class="screens">
                      Phòng chiếu 2
                    </div>
                    <div class="time-btn">
                      <button class="screen-time" onclick="timeFunction()">
                        3:00 PM
                      </button>
                    </div>
                  </li>
                  <li class="time-li">
                    <div class="screens">
                      Phòng chiếu 3
                    </div>
                    <div class="time-btn">
                      <button class="screen-time" onclick="timeFunction()">
                        9:05 AM
                      </button>
                      <button class="screen-time" onclick="timeFunction()">
                        10:00 PM
                      </button>
                    </div>
                  </li>
                  

                </ul>
              </div>
              <input id="screen-next-btn" type="button" name="next-step" class="next-step" value="Tiếp tục"
                disabled />
            </fieldset>
            <fieldset>

              <div>
                <iframe id="seat-sel-iframe"
                  style="  box-shadow: 0 14px 12px 0 var(--theme-border), 0 10px 50px 0 var(--theme-border); width: 800px; height: 550px; display: block; margin-left: auto; margin-right: auto;"
                  src="static/seat/seat_sel.html"></iframe>
              </div>
              <br>
              <input type="button" name="next-step" class="next-step" value="Thanh toán" />
              <input type="button" name="previous-step" class="previous-step" value="Quay trở lại" />
            </fieldset>
            <fieldset>
              <!-- Payment Page -->
              <div id="payment_div">
                <div class="payment-row">
                  <div class="col-75">
                    <div class="payment-container">
                      <div class="payment-row">
                        <div class="col-50">
                          <h3 id="payment-h3">Thanh toán</h3>
                          <div class="payment-row payment">
                            <div class="col-50 payment">
                              <label for="card" class="method card">
                                <div class="icon-container">
                                  <i class="fa fa-cc-visa" style="color: navy"></i>
                                  <i class="fa fa-cc-amex" style="color: blue"></i>
                                  <i class="fa fa-cc-mastercard" style="color: red"></i>
                                  <i class="fa fa-cc-discover" style="color: orange"></i>
                                </div>
                                <div class="radio-input">
                                  <input type="radio" id="card" />
                                </div>
                              </label>
                            </div>
                            <div class="col-50 payment">
                              <label for="paypal" class="method paypal">
                                <div class="icon-container">
                                  <i class="fa fa-paypal" style="color: navy"></i>
                                </div>
                                <div class="radio-input">
                                  <input id="paypal" type="radio" checked>
                                </div>
                              </label>
                            </div>
                          </div>

                          <div class="payment-row">
                            <div class="col-50">
                              <label for="cname">Họ tên</label>
                              <input type="text" id="cname" name="cardname" placeholder="Họ tên" required />
                            </div>
                            <div class="col-50">
                              <label for="ccnum">Số điện thoại</label>
                              <input type="text" id="ccnum" name="cardnumber" placeholder="Số điện thoại"
                                required />
                            </div>
                          </div>
                          <div class="payment-row">
                            <div class="col-50">
                              <label for="expmonth">Năm sinh</label>
                              <input type="text" id="expmonth" name="expmonth" placeholder="Năm sinh" required />
                            </div>
                            <div class="col-50">
                              <div class="payment-row">
                                <div class="col-50">
                                  <label for="expyear">Biên lai thanh toán</label>
                                  <input type="file" id="expyear" name="expyear" placeholder="yyyy" required />
                                </div>
                               
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <input type="button" name="next-step" class="next-step pay-btn" value="Xác nhận thanh toán" />
              <input type="button" name="previous-step" class="cancel-pay-btn" value="Huỷ thanh toán"
                onclick="location.href='/';" />
            </fieldset>
            <fieldset>
              <h2>E-Ticket</h2>
              <div class="ticket-body">
                <div class="ticket">
                  <div class="holes-top"></div>
                  <div class="title">
                    <p class="cinema">Betaa Entertainment</p>
                    <p class="movie-title">Movie Name</p>
                  </div>
                  <div class="poster">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/25240/only-god-forgives.jpg"
                      alt="Movie: Only God Forgives" />
                  </div>
                  <div class="info">
                    <table class="info-table ticket-table">
                      <tr>
                        <th>SCREEN</th>
                        <th>ROW</th>
                        <th>SEAT</th>
                      </tr>
                      <tr>
                        <td class="bigger">18</td>
                        <td class="bigger">H</td>
                        <td class="bigger">24</td>
                      </tr>
                    </table>
                    <table class="info-table ticket-table">
                      <tr>
                        <th>PRICE</th>
                        <th>DATE</th>
                        <th>TIME</th>
                      </tr>
                      <tr>
                        <td>RS.12.00</td>
                        <td>4/13/21</td>
                        <td>19:30</td>
                      </tr>
                    </table>
                  </div>
                  <div class="holes-lower"></div>
                  <div class="serial">
                    <table class="barcode ticket-table">
                      <tr>
                        <td style="background-color:black;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                        <td style="background-color:black;"></td>
                        <td style="background-color:white;"></td>
                      </tr>
                    </table>
                    <table class="numbers ticket-table">
                      <tr>
                        <td>9</td>
                        <td>1</td>
                        <td>7</td>
                        <td>3</td>
                        <td>7</td>
                        <td>5</td>
                        <td>4</td>
                        <td>4</td>
                        <td>4</td>
                        <td>5</td>
                        <td>4</td>
                        <td>1</td>
                        <td>4</td>
                        <td>7</td>
                        <td>8</td>
                        <td>7</td>
                        <td>3</td>
                        <td>4</td>
                        <td>1</td>
                        <td>4</td>
                        <td>5</td>
                        <td>2</td>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
              <input type="button" name="previous-step" class="home-page-btn" value="Về trang chủ"
                onclick="location.href='/';" />
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  let prevId = "1";

  window.onload = function () {
    document.getElementById("screen-next-btn").disabled = true;
  }

  function timeFunction() {
    document.getElementById("screen-next-btn").disabled = false;
  }

  function myFunction(id) {
    document.getElementById(prevId).style.background = "rgb(243, 235, 235)";
    document.getElementById(id).style.background = "#df0e62";
    prevId = id;
  }
</script>

<script src="https://npmcdn.com/flickity@2/dist/flickity.pkgd.js"></script>
<script type="text/javascript" src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'>
</script>
<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
<script src="static/assets/js/theme-change.js"></script>

<script type="text/javascript" src="static/assets/js/ticket-booking.js"></script>

</html>