{% extends "base.html" %}
{% block breadcrumb %}

<div class="w3l-breadcrumbs">
		<nav id="breadcrumbs" class="breadcrumbs">
			<div class="container page-wrapper">
				<a href="/">Trang chủ</a> » <span class="breadcrumb_last" aria-current="page">Liên hệ</span>
			</div>
		</nav>
</div>

{% endblock %}

{% block content %}
  <!-- Contact Us Form -->
  <div class="w3l-ab-grids py-5">

		<div class="container py-lg-4">

      <h3 class="hny-title">Liên hệ</h3>
      <p class="mt-3">
        Betaa Cinemas được thành lập năm 2014 bởi doanh nhân ABC - Chủ tịch Betaa Group. 
        Với sứ mệnh "Mang trải nghiệm điện ảnh với mức giá hợp lý" 
				Betaa tự hào là cụm rạp chiếu phim mang đến trải nghiệm điện ảnh Hollywood với mức giá hợp lý nhất
      </p>

    </div>

  </div>

 
  {% endblock %}