{% extends "base.html" %}

{% block breadcrumb %}
<div class="w3l-breadcrumbs">
    <nav id="breadcrumbs" class="breadcrumbs">
        <div class="container page-wrapper">
            <a href="/">Trang chủ</a>
        </div>
    </nav>
</div>
{% endblock %}

{% block content %}
<!--grids-sec1-->
<section class="w3l-grids">
    <div class="grids-main py-4">
        <div class="container py-lg-4">
            <div class="headerhny-title">
                <h3 class="hny-title">Phim nổi bật</h3>
            </div>
            <div class="owl-four owl-carousel owl-theme">
                <div class="item vhny-grid">
                    <div class="box16">
                        <a href="#">
                            <figure>
                                <img class="img-fluid" src="static/assets/images/banner1.jpg" alt="">
                            </figure>
                            <div class="box-content">
                                <h3 class="title">End Game</h3>
                                <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="box16 mt-4">
                        <a href="#">
                            <figure>
                                <img class="img-fluid" src="static/assets/images/banner2.jpg" alt="">
                            </figure>
                            <div class="box-content">
                                <h3 class="title">Frozen 2</h3>
                                <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="item vhny-grid">
                    <div class="box16">
                        <a href="#">
                            <figure>
                                <img class="img-fluid" src="static/assets/images/banner3.jpg" alt="">
                            </figure>
                            <div class="box-content">
                                <h3 class="title">Doctor Sleep</h3>
                                <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="box16 mt-4">
                        <a href="#">
                            <figure>
                                <img class="img-fluid" src="static/assets/images/banner4.jpg" alt="">
                            </figure>
                            <div class="box-content">
                                <h3 class="title">Toy story 4</h3>
                                <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
                <div class="item vhny-grid">
                    <div class="box16">
                        <a href="#">
                            <figure>
                                <img class="img-fluid" src="static/assets/images/banner1.jpg" alt="">

                            </figure>
                            <div class="box-content">
                                <h3 class="title">Rocketman</h3>
                                <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                    <div class="box16 mt-4">
                        <a href="#">
                            <figure>
                                <img class="img-fluid" src="static/assets/images/banner2.jpg" alt="">
                            </figure>
                            <div class="box-content">
                                <h3 class="title">Frozen 2</h3>
                                <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 4min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                            <span class="fa fa-play video-icon" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--grids-sec1-->
<section class="w3l-grids">
    <div class="grids-main py-5">
        <div class="container py-lg-4">
            <div class="headerhny-title">
                <div class="w3l-title-grids">
                    <div class="headerhny-left">
                        <h3 class="hny-title">Phim mới nhất</h3>
                    </div>
                    <div class="headerhny-right text-lg-right">
                        <h4><a class="show-title" href="movies.html">Xem thêm</a></h4>
                    </div>
                </div>
            </div>
            <div class="w3l-populohny-grids">
                <div class="item vhny-grid">
                    <div class="box16 mb-0">
                        <figure>
                            <img class="img-fluid" src="static/assets/images/commando3.png" alt="">
                        </figure>
                        <a href=".Commando3" data-toggle="modal">
                            <div class="box-content">
                                <h3 class="title">Commando-3</h3>
                                <h4> <span class="post"><span class="fa fa-clock-o"> </span> 1 Hr 40min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                        </a>
                        <!-- Modal -->
                        <div class="modal fade Commando3" id="myModal" tabindex="-1" role="dialog"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" id="mymodalcontent">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLongTitle">Thông tin phim</h4>
                                        <button type="button" class="closebtn" data-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="dynamic-content">
                                        <img src="static/assets/images/commando3.png" class="img-fluid modalimg" alt="" />
                                        <p>
                                            <h3>Phát hành&nbsp;:29 November 2019</h3>
                                            <h3>Đạo diễn&nbsp;:Cg Road </h3>
                                        </p>
                                        <h4>Giới thiệu</h4>
                                        <p>
                                            Commando 3 is a 2019 Indian Hindi-language action thriller film directed
                                            by Aditya Datt and produced by Vipul Amrutlal Shah, Reliance
                                            Entertainment.The film is the sequel of Commando: A One Man Army
                                            (2013) and Commando 2: The Black Money Trail (2017). The third
                                            installment of Commando film series, the film features Vidyut Jammwal,
                                            Adah Sharma, and Angira Dhar in lead roles, with Gulshan Devaiah
                                            portraying the antagonist.Jammwal reprises his role as
                                            the commando Karan, who goes undercover with encounter specialist
                                            Bhavana Reddy for an anti-terrorist mission in London.
                                        </p>
                                    </div>
                                    <div class="bookbtn">
                                        <button type="button" class="btn btn-success"
                                            onclick="location.href='/booking';">Đặt vé</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- modal end -->
                    </div>
                </div>
                <div class="item vhny-grid">
                    <div class="box16 mb-0">
                        <figure>
                            <img class="img-fluid" src="static/assets/images/m3.jpg" alt="">
                        </figure>
                        <a href=".Knivesout" data-toggle="modal">
                            <div class="box-content">
                                <h3 class="title">Knives Out</h3>
                                <h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 10min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                        </a>
                        <!-- Modal -->
                        <div class="modal fade Knivesout" id="myModal" tabindex="-1" role="dialog"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" id="mymodalcontent">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLongTitle">DETAILS</h4>
                                        <button type="button" class="closebtn" data-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="dynamic-content">
                                        <img src="static/assets/images/m3.jpg" class="img-fluid modalimg" alt="" />
                                        <p>
                                            <h3>Release Date&nbsp;:September 7, 2019 </h3>
                                            <h3>Venue&nbsp;:Cg Road </h3>
                                        </p>
                                        <h4>About Movie</h4>
                                        <p>
                                            Knives Out is a 2019 American mystery film written and directed by Rian
                                            Johnson, and produced by Johnson and Ram Bergman. It follows a master
                                            detective investigating the death of the patriarch of a wealthy,
                                            dysfunctional family. The film features an ensemble cast including
                                            Daniel Craig, Chris Evans, Ana de Armas, Jamie Lee Curtis, Michael
                                            Shannon, Don Johnson, Toni Collette, Lakeith Stanfield, Katherine
                                            Langford, Jaeden Martell, and Christopher Plummer.
                                        </p>
                                        <h4>Star Cast</h4>
                                        <p>
                                            Daniel Craig as Benoit Blanc<br />
                                            Chris Evans as Hugh "Ransom" Drysdale<br />
                                            Ana de Armas as Marta Cabrera<br />
                                            Jamie Lee Curtis as Linda Drysdale<br />
                                            Michael Shannon as Walt Thrombey
                                        </p>
                                    </div>
                                    <div class="bookbtn">
                                        <button type="button" class="btn btn-success"
                                            onclick="location.href='/booking';">Book</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- modal end -->

                    </div>
                </div>
                <div class="item vhny-grid">
                    <div class="box16 mb-0">
                        <figure>
                            <img class="img-fluid" src="static/assets/images/bharat1.png" alt="">
                        </figure>
                        <a href=".Bharat" data-toggle="modal">
                            <div class="box-content">
                                <h3 class="title">Bharat</h3>
                                <h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 35min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                        </a>
                        <!-- Modal -->
                        <div class="modal fade Bharat" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" id="mymodalcontent">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLongTitle">DETAILS</h4>
                                        <button type="button" class="closebtn" data-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="dynamic-content">
                                        <img src="static/assets/images/bharat1.png" class="img-fluid modalimg" alt="" />
                                        <p>
                                            <h3>Release Date&nbsp;:5 June 2019 </h3>
                                            <h3>Venue&nbsp;:Cg Road </h3>
                                        </p>
                                        <h4>About Movie</h4>
                                        <p>
                                            Bharat is a 2019 Indian Hindi-language drama film written and directed
                                            by Ali Abbas Zafar. It is jointly produced by Atul Agnihotri, Alvira
                                            Khan Agnihotri, Bhushan Kumar, Krishan Kumar, Nikhil Namit and Salman
                                            Khan under the banners Reel Life Productions, Salman Khan Films and
                                            T-Series. The film stars Salman Khan, Katrina Kaif, Sunil Grover, Disha
                                            Patani and Jackie Shroff. Tabu makes a friendly appearance. It traces
                                            India's post-independence history from the perspective of a common man,
                                            and follows his life from the age of 8 to 70.
                                        </p>
                                        <h4>Star Cast</h4>
                                        <p>
                                            Salman Khan as Bharat Kumar<br />
                                            Katrina Kaif as Kumud Raina Kumar<br />
                                            Disha Patani as Radha Mathur<br />
                                            Sunil Grover as Vilayti Khan<br />
                                            Jackie Shroff as Gautam Kumar
                                        </p>
                                    </div>
                                    <div class="bookbtn">
                                        <button type="button" class="btn btn-success"
                                            onclick="location.href='/booking';">Book</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- modal end -->
                    </div>
                </div>
                <div class="item vhny-grid">
                    <div class="box16 mb-0">
                        <figure>
                            <img class="img-fluid" src="static/assets/images/m5.jpg" alt="">
                        </figure>
                        <a href=".Jumanji" data-toggle="modal">
                            <div class="box-content">
                                <h3 class="title">Jumanji : The Next Level</h3>
                                <h4> <span class="post"><span class="fa fa-clock-o"> </span> 2 Hr 3min

                                    </span>

                                    <span class="post fa fa-heart text-right"></span>
                                </h4>
                            </div>
                        </a>
                        <!-- Modal -->
                        <div class="modal fade Jumanji" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content" id="mymodalcontent">
                                    <div class="modal-header">
                                        <h4 class="modal-title" id="exampleModalLongTitle">DETAILS</h4>
                                        <button type="button" class="closebtn" data-dismiss="modal"
                                            aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" id="dynamic-content">
                                        <img src="static/assets/images/m5.jpg" class="img-fluid modalimg" alt="" />
                                        <p>
                                            <h3>Release Date&nbsp;:December 13, 2019 </h3>
                                            <h3>Venue&nbsp;:Cg Road </h3>
                                        </p>
                                        <h4>About Movie</h4>
                                        <p>
                                            Jumanji: The Next Level is a 2019 American fantasy adventure comedy film
                                            directed by Jake Kasdan and co-written by Kasdan, Jeff Pinkner, and
                                            Scott Rosenberg. It is a sequel to 2017's Jumanji: Welcome to the
                                            Jungle, the second follow-up to 1995's Jumanji, and is the fourth
                                            installment in the Jumanji franchise. It stars Dwayne Johnson, Jack
                                            Black, Kevin Hart, Karen Gillan, Nick Jonas, Alex Wolff, Morgan Turner,
                                            Ser'Darius Blain, and Madison Iseman reprising their roles from the
                                            previous film while Awkwafina, Rory McCann, Danny Glover, and Danny
                                            DeVito also join the cast. The film's plot takes place two years after
                                            Welcome to the Jungle, in which the same group of teenagers, along with
                                            an old friend and two unwitting additions, become trapped in Jumanji.
                                            There, they all find themselves facing new problems and challenges with
                                            both old and new avatars while having to save the land from a new
                                            villain in order to escape.
                                        </p>
                                        <h4>Star Cast</h4>
                                        <p>
                                            Dwayne Johnson as Dr. Xander "Smolder" Bravestone<br />
                                            Jack Black as Professor Sheldon "Shelly" Oberon<br />
                                            Kevin Hart as Franklin "Mouse" Finbar<br />
                                            Karen Gillan as Ruby Roundhouse<br />
                                            Nick Jonas as Jefferson "Seaplane" McDonough
                                        </p>
                                    </div>
                                    <div class="bookbtn">
                                        <button type="button" class="btn btn-success"
                                            onclick="location.href='/booking';">Book</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- modal end -->

                    </div>
                </div>
            </div>            

        </div>
        <div class="button-center text-center mt-3">
            <a href="#" class="btn view-button">Xem tất cả <span class="fa fa-angle-double-right ml-2"
                    aria-hidden="true"></span></a>
        </div>
    </div>
</section>
    
{% endblock %}
