{% extends "base.html" %} {% block style %}
<link rel="stylesheet" type="text/css" href="static/assets/css/sign-in.css" />
{% endblock %} {% block content %}
<div class="container_signup_signin" id="container_signup_signin">
  <div class="form-container sign-up-container">
    <form name="sign-up-form" action="#" onsubmit="return signUpValidateForm()">
      <h1>Tạo tài khoản</h1>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <span>Hoặc sử dụng email để đăng ký</span>
      <input name="sign-up-name" type="text" placeholder="Tên" />
      <input name="sign-up-email" type="email" placeholder="Email" />
      <input name="sign-up-passwd" type="password" placeholder="Mật khẩu" />
      <button>Đăng ký</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form
      name="sign-in-form"
      style="color: var(--theme-title)"
      action="#"
      onsubmit="return signInValidateForm()"
    >
      <h1>Đăng nhập</h1>
      <div class="social-container">
        <a href="#" class="social" style="color: var(--theme-title)"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="#" class="social" style="color: var(--theme-title)"
          ><i class="fab fa-google-plus-g"></i
        ></a>
        <a href="#" class="social" style="color: var(--theme-title)"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </div>
      <span>Hoặc sử dụng tài khoản của bạn</span>
      <input name="sign-in-email" type="email" placeholder="Email" />
      <input name="sign-in-passwd" type="password" placeholder="Mật khẩu" />
      <a href="#">Quên mật khẩu?</a>
      <button>Đăng nhập</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Chào bạn!</h1>
        <p>Đăng nhập nếu bạn đã có tài khoản</p>
        <button class="ghost" id="signIn">Đăng nhập</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Xin chào!</h1>
        <p>Đăng ký và đặt vé ngay bây giờ!!!!</p>
        <button class="ghost" id="signUp">Đăng ký</button>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block footer %}{% endblock %}
